{% extends 'cohapp/base.html' %}

{% block title %}CohViz{% endblock %}

{% load staticfiles %}

{% block header %}
{% endblock %}

{% block container %}

<div class="row" id="landingview">

  <div class="row col s11 m10 offset-m1 l8 offset-l2" id="logo-div">
    <h1>Coh<span style="color: #26a69a">Viz</span></h1>
  </div>
</div>

<div id="landingpage" class="row"></div>

{% endblock %}


{% block endscripts %}
<script src="{% static 'cohapp/js_big/vendor/medium-editor.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/d3.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/react.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/react-dom.js' %}"></script>
<script src="{% static 'cohapp/js/landingpage.min.js' %}"></script>
{% endblock %}
