{% extends 'cohapp/base.html' %}

{% block title %}CohViz{% endblock %}

{% load staticfiles %}

{% block header %}
{% endblock %}

{% block container %}

<div id="landing-page">
</div>

<!--<div class="row" id="contact">
  <div class="container">
    <div class="col s11 m5">
        <p>If you are interested in using CohVis and have further questions, feel free to contact us. We are glad to hear from you.</p>
      </div>
    </div>

    <div class="col s11 m3 offset-m1">
      <form action="https://formspree.io/christian.burkhart@ezw.uni-freiburg.de" method="POST">
        <div class="row">
          <div class="small-12 columns">
            <input name="name" type="text" placeholder="Your name" data-cip-id="cIPJQ342845639">
          </div>
          <div class="small-12 columns">
            <input type="email" name="email" placeholder="Your e-mail" data-cip-id="cIPJQ342845640">
          </div>
          <div class="small-12 columns">
            <textarea name="nachricht" rows="4" cols="10" placeholder="Your message"></textarea>
          </div>
          <div class="small-12 columns">
            <button class="waves-effect waves-light btn" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>-->

{% endblock %}


{% block endscripts %}
<script src="{% static 'cohapp/js_big/vendor/medium-editor.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/d3.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.development.js"></script>
<script src="{% static 'cohapp/js/landingpage.min.js' %}"></script>
{% endblock %}
