{% extends 'cohapp/base.html' %}

{% block title %}CohViz{% endblock %}

{% load staticfiles %}

{% block header %}
{% endblock %}

{% block container %}

<div id="landing-page">
</div>

{% endblock %}


{% block endscripts %}
<script src="{% static 'cohapp/js_big/vendor/medium-editor.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/d3.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.3.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.3.0/umd/react-dom.development.js"></script>
<script src="{% static 'cohapp/js/landingpage.min.js' %}"></script>

{% endblock %}
