{% extends 'cohapp/base_experiment.html' %}

{% block title %}Experiment noch nicht freigeschaltet{% endblock %}

{% load staticfiles %}

{% block container %}


<div class="row" id="publication-future">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel teal">
      <span class="white-text">Vielen Dank für Ihren Besuch! Ihr nächster Messzeitpunkt wird am {{date}} für Sie freigeschaltet. Melden Sie sich ab diesem Zeitpunkt wieder an.
      </span>
    </div>
  </div>
</div>


{% endblock %}

