{% extends 'cohapp/base_experiment.html' %}

{% block title %}Login Experiment{% endblock %}

{% load staticfiles %}

{% block container %}


<div class="row" id="subject-login">
  <div class="col s12 m4 offset-m4 log-in-form">
    <form method="post">
    {% csrf_token %}
        <h4>Login Experiment</h4>
        <p>Tragen Sie als Nutzernamen folgendes Muster ein:</p>

		<ul class="collection">
			<li class="collection-item">Die ersten beiden Buchstaben des Geburtsorts: Göttingen  -> <b>gö</b></li>
			<li class="collection-item">Die ersten beiden Zahlen des Geburtsdatums (bei einstelliger Zahl mit 0 davor): 12 -> <b>12</b></li>
			<li class="collection-item">Die ersten beiden Buchstaben des Vornamens der Mutter: Birgit -> <b>bi</b></li>
      <li class="collection-item">Die ersten beiden Buchstaben des Nachnamens des Vaters: Alfred -> <b>al</b></li>
			<li class="collection-item">Nutzername: <b>gö01bial</b></li>
		</ul>

        <div class="input-field">
          <input id="username" name="username" type="text" autofocus>
          <label for="username">Nutzername</label>
        </div>

        <button type="submit" class="waves-effect waves-light btn">Login</button>
      </form>
  </div>
</div>

{% endblock %}
