{% extends 'cohapp/base_experiment.html' %}

{% block title %}Login Experiment{% endblock %}

{% load staticfiles %}

{% block container %}


<div class="row" id="subject-login">
  <div class="col s12 m4 offset-m4 log-in-form">
    <form method="post">
    {% csrf_token %}
        <h4>Login Experiment</h4>
        <p>Tragen Sie als Nutzernamen die ersten beiden Buchstaben Ihres Geburtsortes, die Zahl Ihres Geburtstages, die ersten beiden Buchstaben des Vornamens Ihrer Mutter und Ihre Schuhgröße ein.</p>

		<ul class="collection">
			<li class="collection-item">Geburtsort: Göttingen  > <b>gö</b></li>
			<li class="collection-item">Geburtstag: 06 > <b>06</b></li>
			<li class="collection-item">Ersten beiden Buchstaben der Mutter: Birgit > <b>bi</b></li>
      <li class="collection-item">Letzte Ziffer der Körpergröße: 186 > <b>6</b></li>
      <li class="collection-item">Letzte Ziffer der Schuhgröße: 45 > <b>5</b>
			<li class="collection-item">Nutzername: <b>gö06bi65</b></li>
		</ul>

        <div class="input-field">
          <input id="username" name="username" type="text" autofocus>
          <label for="username">Nutzername</label>
        </div>

        <button type="submit" class="waves-effect waves-light btn">Login</button>
      </form>
  </div>
</div>

{% endblock %}
