{% extends 'cohapp/base_experiment.html' %}

{% block title %}Experiment{% endblock %}

{% load staticfiles %}

{% block container %}


<div id="treatment" class="row">

</div>

{% endblock %}

{% block endscripts %}
<script src="{% static 'cohapp/js_big/vendor/medium-editor.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/d3.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/react.js' %}"></script>
<script src="{% static 'cohapp/js_big/vendor/react-dom.js' %}"></script>
<script src="{% static 'cohapp/js/treatment.min.js' %}"></script>
{% endblock %}

