**/*.pyc
web/node_modules/
web/bower_components/

# Ignore static files
web/static/*

# Ignore large files
web/cohapp/coherenceanalyzer/RFTagger/
web/cohapp/coherenceanalyzer/GN_V90_XML/
web/cohapp/coherenceanalyzer/mongodb/
web/cohapp/coherenceanalyzer/temp/
web/cohapp/static/cohapp/css/custom.css

# Ignore sublime project files
cohviz.sublime-project
cohviz.sublime-workspace

# Ignore hidden files
web/.bash_history
web/.dbshell
web/.mongorc.js
web/.vim/
web/.viminfo

# Ignore nltk data
web/nltk_data/

# Ignore setting files
docker-compose.yml
web/toolapp/settings.py
.env

# Ignore map files
web/cohapp/static/cohapp/**/*.map

# Ignore npm debugging log
web/npm-debug.log

# Ignore language models
languagemodels/
