**/*.pyc
web/node_modules/
web/bower_components/
web/static/**/*.map
web/static/
web/cohapp/**/*.map
web/cohapp/coherenceanalyzer/RFTagger/
web/cohapp/coherenceanalyzer/temp/
web/cohapp/migrations/

cohviz.sublime-project
cohviz.sublime-workspace

web/.bash_history
web/.dbshell
web/.mongorc.js
web/.vim/
web/.viminfo
web/cohapp/coherenceanalyzer/GN_V90_XML/
web/cohapp/coherenceanalyzer/mongodb/
web/nltk_data/

web/static/
web/cohapp/static/
web/cohapp/static/cohapp/css/custom.css
web/static/cohapp/css/custom.css

docker-compose.yml
web/toolapp/settings.py
.env
