<div id="editor-double-text">
	<div class="row">
		<div class="col s12 m6">
			<div class="row" id="editor-edit">{{{text}}}</div>
			<div class="row" id="editor-full-button-div">
				<a class="waves-effect waves-light btn" id="editor-full-button">Analyziere meinen Text</a>
			</div>
		</div>

		<div id="editor-visualize-text" class="col s12 m6">{{{text}}}</div>
	</div>
</div>
