<div id="editor-medium-editor" class="col s11 m10 offset-m1 l8 offset-l2">
	<div id="editor-textinput">
		
	</div>
	<div id="editor-button-div" class="center-align">
		<a class="waves-effect waves-light btn" id="editor-button">Analyziere meinen Text</a>
	</div>
</div>