<div id="editor-full-wrapper">
	<div class="row">
		<div class="col s12 m4 l4">
			<div class="row" id="editor-full-medium-editor">{{{text}}}</div>
			<div class="row" id="editor-full-button-div">
				<a class="waves-effect waves-light btn" id="editor-full-button">Analyziere meinen Text</a>
			</div>
		</div>

		<div id="editor-full-graph" class="col s12 m9 l8"></div>
	</div>
</div>
