<form class="col s12 m8 offset-m2" id="measurement-form">
    <div class="row">
      <div class="col s6 m3 input-field">
          <select id="form-group">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label>Gruppe</label>
      </div>

      <div class="col s6 m3 input-field">
          <input type="date" class="datepicker" id="form-date">
          <label>Veröffentlichung</label>
      </div>

      <div class="col s6 m3 input-field">
          <select id="form-treatment">
            {{#each group}}
              <option value="{{abbreviation}}">{{name}}</option>
            {{/each}}
          </select>
          <label>Treatment</label>
      </div>

      <div class="col s6 m3 center-align">
        <a id="add-measurement" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
      </div>
    </div>
</form>