<div id="modal-instruction" class="modal">
  <div class="modal-content">
    <h4>Wie es funktioniert</h4>
    <p>Auf der linken Seite siehst du den Text, den du gerade geschrieben hast. Auf der rechten Seite siehst du eine grafische Darstellung deines Textes.</p>
    <p>Die grafische Darstellung setzt sich aus den Nomen deines Textes zusammen. Du kannst die Darstellung genauer ansehen, indem du mit der Maus hineinzoomst.</p>
    <p>Nomen, die du in einem Satz verwendet hast, werden mit Strichen miteinander verbunden. Manche Nomen bilden manchmal sogenannte Cluster. Wenn du mehr als ein Cluster in deinem Text hast, ist dein Text nicht vollständig kohärent. Versuche den Text in diesem Fall so umzuschreiben, dass du alle Nomen in einem Cluster miteinander verbindest.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Verstanden.</a>
  </div>
</div>
          