<div id="modal-help" class="modal">
  <div class="modal-content">
    {{{instruction}}}
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Verstanden.</a>
  </div>
</div>
          