#landing-page {

  #application {
    background-color: $color-primary;
    display: grid;
    grid-template-columns: 41vw 59vw;
    grid-template-rows: 6vh 89vh 5vh;
    grid-template-areas: "navigation navigation"
                         "editor concept-map"
                         "button button";

    #application-editor {
      overflow-y: scroll;
      overflow-x: hidden;
      grid-area: editor;
      border-right: 4px solid black;
      color: #fff;
      background-color: $color-primary;
      padding: 5%;
      font-size: $p-font-size;

      p {
        font-size: $p-font-size;
      }

      #editor-textinput {
        outline: 0px solid transparent;

        p {
          font-size: $p-font-size;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      // Scrollbar
      &::-webkit-scrollbar-track {
        background-color: $color-primary;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: $color-primary;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #555555;
        border: 4px solid #555555;
      }

    }

    #navigation {
      grid-area: navigation;
    }

    .concept-map {
      grid-area: concept-map;

      svg {
        .node {
          text {
            fill: #fff;
          }
        }
      }
    }

    .button {
      position: relative;

      button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      grid-area: button;
      top: 0;
      border-top: 4px solid black;
      background-color: $color-primary;
    }
  }


  #explanation {
    min-height: 60vh;
    background-color: #FFCF52;
    position: relative;
    z-index: 4;

    svg {
      position: absolute;
      top: -180px;
      left: 55%;
      z-index: 3;
    }

    &:before {
      background: #FFCF52;
      transform: skewY(3deg);
      content: '';
      position: absolute;
      top: -70px;
      left: 0;
      width: 100%;
      height: 160px;
      display: block;
      z-index: -1;
    }

    .explanation-text {
      position: relative;
      // top: 20%;
      // left: 10%;
      // margin-top: 10vh;
      color: #000;
      // width: 40%;
      min-height: 40vh;
      z-index: 5;

      p {
        z-index: 6;
        font-size: 1.8rem;
      }

    }
  }
}


#contact {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #24292e;
  color: #fff;
  margin-bottom: 0;

  p {
    font-size: 1.6rem;
  }

  textarea {
    border: 1px solid lightgrey;
    height: 200px;
  }
}
