// ************** Navbar *************************
nav#navigation {
  // background: linear-gradient(to bottom, #fff, #fff, #fff, #f2f2f2);
  background-color: #24292e;
  color: #000;
  box-shadow: None;
  font-weight: bold;
  height: 6vh;

  ul#nav-wrapper {
    display: flex;
    flex-direction: row;

    li {
      align-self: stretch;

      &:first-child {
        margin-right: auto;
      }

      a.logo {
        color: #fff;
        font-size: 3.8vh;
        font-weight: bold;

        &:hover {
          color: #fff;
        }
      }

      a {
        font-size: 2vh;

        &:hover {
          color: $color-button;
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
