Django==1.10.5
gunicorn==19.3.0
psycopg2
django-htmlmin
djangorestframework
markdown
django-filter
pygermanet
numpy
pandas
nltk
python-levenshtein
pyenchant
more-itertools
repoze.lru
spacy
langdetect
